.container{
  max-width: 1000px;
  margin: 0 auto;
}
.container-agenda{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 50px;
}

.aboutUser{
  width: 100%;
  text-align: center;
  margin-top: -50px;
}

.aboutUser button{
  margin-top: -10px;
  width: 80px;
  border: none;
  background-color: rgb(243, 25, 25);
  height: 30px;
  border-radius: 10px;
  font-weight: 900;
  opacity: 1;
}

.aboutUser button:hover{
  opacity: .7;
}
