.react-calendar {
    background-color: transparent;
    border: none;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
  
  .react-calendar__tile--now {
    background-color: #9c9c9c;
  
  }
  
  .react-calendar__month-view__weekdays__weekday abbr {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;

  }
  
  .react-calendar__month-view__days__day--weekend {
    color: rgb(114, 22, 22);
  }

  .selected-tile {
    background-color: var(--primarycolor);
    color: #ffffff;
    background-color: #1d1d1d;
  }