@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --primarycolor: #ffffff;
}


body{
  background-color: #000;
  color: var(--primarycolor);
  font-family: 'Roboto', sans-serif;
}

button{
  cursor: pointer;
}